.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 80px;
    
}

.navbar h1{
    font-size: 45px;
    font-weight: 800;
    color:  rgb(44, 170, 255);
    text-decoration:solid;
    letter-spacing: 2px;
    
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
}

.nav-menu li a{
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.nav-menu li a:hover{
    scale: 1.1;
    color: #2CAAFF ;
    transition: 0.3s;
}


.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    
    
    background: linear-gradient(267deg, #9615DB 5.5%, #2CAAFF  100.52%);
    /* background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%); */
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}

@media(max-width:1150px){
    .navbar{
        margin: 20px 20px;
        justify-content: space-between;
        
    }

    .navbar h1{
        font-size: 30px;
        
    }

    .nav-connect{
        display: none;
    }

    .nav-mob-open{
        display: block;
        position: absolute;
        right: 20px;
        cursor: pointer;
        width: 30px;
        
    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 20px;
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #000f1f;
        width: 350px;
        height:100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        
    }

    

    .first-li{
        margin-top: 30px;
    }



    .nav-menu li a{
        
        font-size: 20px;
        padding: 0px 110px;
        
        flex-direction: row;
        
        
        
    }







}
